{{/*
  This templates have been shamelessly stolen from
  https://github.com/InioX/matugen-themes/blob/main/templates/cava-colors.ini
*/}}

[color]
; background = '{{ .Background }}'
background = 'default'

; gradient = 0
gradient = 1
gradient_color_1 = '{{ chroma .Primary   50 }}'
gradient_color_2 = '{{ chroma .Secondary 50 }}'
gradient_color_3 = '{{ chroma .Tertiary  50 }}'

; horizontal_gradient = 0
horizontal_gradient = 1
horizontal_gradient_color_1 = '{{ chroma .Primary   50 }}'
horizontal_gradient_color_2 = '{{ chroma .Secondary 50 }}'
horizontal_gradient_color_3 = '{{ chroma .Tertiary  50 }}'
