{{/*
  This templates have been shamelessly stolen from
  https://github.com/InioX/matugen-themes/blob/main/templates/cava-colors.ini
*/}}

[color]
; background = '{{ .Background }}'
background = 'default'
foreground = '{{ .Primary }}'

; gradient = 0
gradient = 1
gradient_color_1 = '{{ .Primary }}'
gradient_color_2 = '{{ .Secondary }}'
gradient_color_3 = '{{ .Tertiary }}'

; horizontal_gradient = 0
horizontal_gradient = 1
horizontal_gradient_color_1 = '{{ .Primary }}'
horizontal_gradient_color_2 = '{{ .Secondary }}'
horizontal_gradient_color_3 = '{{ .Tertiary }}'
