# This file has been generated using https://github.com/Nadim147c/rong

# https://github.com/spicetify/spicetify-themes/tree/master/Sleek

[rong]
main               = {{ .Background.TrimmedHexRGB }}
main-secondary     = {{ .SurfaceBright.TrimmedHexRGB }}
accent             = {{ .Primary.TrimmedHexRGB }}
button             = {{ .Primary.TrimmedHexRGB }}
button-secondary   = {{ .Secondary.TrimmedHexRGB }}
button-active      = {{ .PrimaryFixed.TrimmedHexRGB }}
button-disabled    = {{ .PrimaryContainer.TrimmedHexRGB }}

misc               = {{ .Tertiary.TrimmedHexRGB }}
subtext            = {{ .Outline.TrimmedHexRGB }}
text               = {{ .OnSurfaceVariant.TrimmedHexRGB }}
sidebar            = {{ .Surface.TrimmedHexRGB }}
player             = {{ .Surface.TrimmedHexRGB }}
card               = {{ .SurfaceBright.TrimmedHexRGB }}
notification       = {{ .Surface.TrimmedHexRGB }}
notification-error = {{ .Error.TrimmedHexRGB }}
shadow             = {{ .Shadow.TrimmedHexRGB }}

nav-active-text    = {{ .Primary.TrimmedHexRGB }}
nav-active         = {{ .Primary.TrimmedHexRGB }}
tab-active         = {{ .Surface.TrimmedHexRGB }}
play-button        = {{ .Primary.TrimmedHexRGB }}

playback-bar       = {{ .PrimaryFixed.TrimmedHexRGB }}
