; Generated using rong: https://github.com/Nadim147c/rong (GPL-3.0)
; Copied from matugen-themes: https://github.com/InioX/matugen-themes (MIT)

[color]
background = 'default'

gradient = 1
gradient_color_1 = '{{ chroma .Primary   50 }}'
gradient_color_2 = '{{ chroma .Secondary 50 }}'
gradient_color_3 = '{{ chroma .Tertiary  50 }}'
