# Generated using rong: https://github.com/Nadim147c/rong (GPL-3.0)

background = {{ .Background }}
foreground = {{ .OnBackground }}
cursor-color = {{ .Primary }}
cursor-text = {{ .OnPrimary }}
selection-background = {{ .Primary }}
selection-foreground = {{ .OnPrimary }}
