background = {{ .Background }}
foreground = {{ .OnBackground }}
cursor-color = {{ .Primary }}
cursor-text = {{ .OnPrimary }}
selection-background = {{ .Primary }}
selection-foreground = {{ .OnPrimary }}
