# Generated using rong: https://github.com/Nadim147c/rong (GPL-3.0)

palette =  0={{ .Color0 }}
palette =  1={{ .Color1 }}
palette =  2={{ .Color2 }}
palette =  3={{ .Color3 }}
palette =  4={{ .Color4 }}
palette =  5={{ .Color5 }}
palette =  6={{ .Color6 }}
palette =  7={{ .Color7 }}
palette =  8={{ .Color8 }}
palette =  9={{ .Color9 }}
palette = 10={{ .ColorA }}
palette = 11={{ .ColorB }}
palette = 12={{ .ColorC }}
palette = 13={{ .ColorD }}
palette = 14={{ .ColorE }}
palette = 15={{ .ColorF }}

background           = {{ .Background }}
foreground           = {{ .OnBackground }}
cursor-color         = {{ .Primary }}
cursor-text          = {{ .OnPrimary }}
selection-background = {{ .Primary }}
selection-foreground = {{ .OnPrimary }}
