# Generated using rong: https://github.com/Nadim147c/rong (GPL-3.0)

$image = {{ .Image }}

{{ range .Colors -}}
${{ .Name.Snake }} = rgba({{ .Color.TrimmedHexRGBA }})
${{ .Name.Snake -}}_hex = #{{ .Color.HexRGB }}
{{ end -}}

