# Generated using rong: https://github.com/Nadim147c/rong (GPL-3.0)

cursor {{ .Primary }}
cursor_text_color {{ .OnPrimary }}

foreground            {{ .OnBackground }}
background            {{ .Background }}
selection_foreground  {{ .OnSecondary }}
selection_background  {{ .Secondary }}
url_color             {{ .Primary }}
