# This file has been generated using https://github.com/Nadim147c/rong

cursor {{ .Primary }}
cursor_text_color {{ .OnPrimary }}

foreground            {{ .OnBackground }}
background            {{ .Background }}
selection_foreground  {{ .OnSecondary }}
selection_background  {{ .Secondary }}
url_color             {{ .Primary }}
