{{/* Copied from matugen-themes: https://github.com/InioX/matugen-themes (MIT) */}}
[ColorScheme]
active_colors={{ .OnBackground }}, {{ .Surface }}, #ffffff, #cacaca, #9f9f9f, #b8b8b8, {{ .OnBackground }}, #ffffff, {{ .OnSurface }}, {{ .Background }}, {{ .Background }}, {{ .Shadow }}, {{ .PrimaryContainer }}, {{ .OnPrimaryContainer }}, {{ .Secondary }}, {{ .Primary }}, {{ .Surface }}, {{ .Scrim }}, {{ .Surface }}, {{ .OnSurface }}, {{ .Secondary }}
disabled_colors={{ .OnBackground }}, {{ .Surface }}, #ffffff, #cacaca, #9f9f9f, #b8b8b8, {{ .OnBackground }}, #ffffff, {{ .OnSurface }}, {{ .Background }}, {{ .Background }}, {{ .Shadow }}, {{ .PrimaryContainer }}, {{ .OnPrimaryContainer }}, {{ .Secondary }}, {{ .Primary }}, {{ .Surface }}, {{ .Scrim }}, {{ .Surface }}, {{ .OnSurface }}, {{ .Secondary }}
inactive_colors={{ .OnBackground }}, {{ .Surface }}, #ffffff, #cacaca, #9f9f9f, #b8b8b8, {{ .OnBackground }}, #ffffff, {{ .OnSurface }}, {{ .Background }}, {{ .Background }}, {{ .Shadow }}, {{ .PrimaryContainer }}, {{ .OnPrimaryContainer }}, {{ .Secondary }}, {{ .Primary }}, {{ .Surface }}, {{ .Scrim }}, {{ .Surface }}, {{ .OnSurface }}, {{ .Secondary }}
