# Generated using rong: https://github.com/Nadim147c/rong (GPL-3.0)
# Copied from matugen-themes: https://github.com/InioX/matugen-themes (MIT)

[General]
ColorScheme=Rong
Name=Rong

[Appearance]
ColorScheme=Rong

[KDE]
Contrast=4

[WM]
ActiveBackground={{ .PrimaryContainer }}
ActiveBlend={{ .OnPrimaryContainer }}
ActiveForeground={{ .OnPrimaryContainer }}
InactiveBackground={{ .Surface }}
InactiveBlend={{ .OnSurfaceVariant }}
InactiveForeground={{ .OnSurfaceVariant }}

[ColorEffects:Disabled]
Color={{ .SurfaceDim }}
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color={{ .SurfaceVariant }}
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{ .SurfaceContainerLow }}
BackgroundNormal={{ .SurfaceContainerHigh }}
DecorationFocus={{ .Primary }}
DecorationHover={{ .Primary }}
ForegroundActive={{ .Primary }}
ForegroundInactive={{ .OnSurfaceVariant }}
ForegroundLink={{ .Secondary }}
ForegroundNegative={{ .Error }}
ForegroundNeutral={{ .Tertiary }}
ForegroundNormal={{ .OnSurface }}
ForegroundPositive={{ .TertiaryFixed }}
ForegroundVisited={{ .OnSecondaryContainer }}

[Colors:Complementary]
BackgroundAlternate={{ .SurfaceContainerLow }}
BackgroundNormal={{ .Surface }}
DecorationFocus={{ .Primary }}
DecorationHover={{ .Primary }}
ForegroundActive={{ .Primary }}
ForegroundInactive={{ .OnSurfaceVariant }}
ForegroundLink={{ .Secondary }}
ForegroundNegative={{ .Error }}
ForegroundNeutral={{ .Tertiary }}
ForegroundNormal={{ .OnPrimaryContainer }}
ForegroundPositive={{ .TertiaryFixed }}
ForegroundVisited={{ .OnSecondaryContainer }}

[Colors:Header]
BackgroundAlternate={{ .Surface }}
BackgroundNormal={{ .SurfaceContainer }}
DecorationFocus={{ .Primary }}
DecorationHover={{ .Primary }}
ForegroundActive={{ .Primary }}
ForegroundInactive={{ .OnSurfaceVariant }}
ForegroundLink={{ .Secondary }}
ForegroundNegative={{ .Error }}
ForegroundNeutral={{ .Tertiary }}
ForegroundNormal={{ .OnSurface }}
ForegroundPositive={{ .TertiaryFixed }}
ForegroundVisited={{ .OnSecondaryContainer }}

[Colors:Header][Inactive]
BackgroundAlternate={{ .SurfaceContainer }}
BackgroundNormal={{ .Surface }}
DecorationFocus={{ .Primary }}
DecorationHover={{ .Primary }}
ForegroundActive={{ .Primary }}
ForegroundInactive={{ .OnSurfaceVariant }}
ForegroundLink={{ .Secondary }}
ForegroundNegative={{ .Error }}
ForegroundNeutral={{ .Tertiary }}
ForegroundNormal={{ .OnSurface }}
ForegroundPositive={{ .TertiaryFixed }}
ForegroundVisited={{ .OnSecondaryContainer }}

[Colors:Selection]
BackgroundAlternate={{ .SurfaceContainerLow }}
BackgroundNormal={{ .Primary }}
DecorationFocus={{ .Primary }}
DecorationHover={{ .Primary }}
ForegroundActive={{ .OnPrimary }}
ForegroundInactive={{ .OnSurfaceVariant }}
ForegroundLink={{ .SecondaryFixed }}
ForegroundNegative={{ .ErrorContainer }}
ForegroundNeutral={{ .TertiaryFixedDim }}
ForegroundNormal={{ .OnPrimary }}
ForegroundPositive={{ .TertiaryContainer }}
ForegroundVisited={{ .OnSecondaryContainer }}

[Colors:Tooltip]
BackgroundAlternate={{ .Surface }}
BackgroundNormal={{ .SurfaceContainer }}
DecorationFocus={{ .Primary }}
DecorationHover={{ .Primary }}
ForegroundActive={{ .Primary }}
ForegroundInactive={{ .OnSurfaceVariant }}
ForegroundLink={{ .Secondary }}
ForegroundNegative={{ .Error }}
ForegroundNeutral={{ .Tertiary }}
ForegroundNormal={{ .OnBackground }}
ForegroundPositive={{ .TertiaryFixed }}
ForegroundVisited={{ .OnSecondaryContainer }}

[Colors:View]
BackgroundAlternate={{ .SurfaceContainer }}
BackgroundNormal={{ .Background }}
DecorationFocus={{ .OnPrimaryContainer }}
DecorationHover={{ .OnPrimary }}
ForegroundActive={{ .Primary }}
ForegroundInactive={{ .OnSurfaceVariant }}
ForegroundLink={{ .Secondary }}
ForegroundNegative={{ .Error }}
ForegroundNeutral={{ .Tertiary }}
ForegroundNormal={{ .OnBackground }}
ForegroundPositive={{ .TertiaryFixed }}
ForegroundVisited={{ .OnSecondaryContainer }}

[Colors:Window]
BackgroundAlternate={{ .PrimaryContainer }}
BackgroundNormal={{ .SurfaceContainer }}
DecorationFocus={{ .Primary }}
DecorationHover={{ .Primary }}
ForegroundActive={{ .Primary }}
ForegroundInactive={{ .OnSurfaceVariant }}
ForegroundLink={{ .Secondary }}
ForegroundNegative={{ .Error }}
ForegroundNeutral={{ .Tertiary }}
ForegroundNormal={{ .OnBackground }}
ForegroundPositive={{ .TertiaryFixed }}
ForegroundVisited={{ .OnSecondaryContainer }}
